DB_CONNECTION_STRING=mysql+mysqlconnector://root@localhost/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/main.py
FLASK_ENV=development
CLOUDINARY_URL=cloudinary://519216389817554:HT9brnidX5ZuTi9xk0TdgqV6fJk@petprofile
